In [12]:
import pandas as pd
import os

In [2]:
!pwd

/teamspace/studios/this_studio

In [3]:
catalog: pd.DataFrame = pd.read_csv(
    filepath_or_buffer="nasa_space_apps_2024_seismic_detection_data/data/lunar/training/catalogs/apollo12_catalog_GradeA_final.csv"
)
catalog

,filename,time_abs(%Y-%m-%dT%H:%M:%S.%f),time_rel(sec),evid,mq_type
0,xa.s12.00.mhz.1970-01-19HR00_evid00002,1970-01-19T20:25:00.000000,73500.0,evid00002,impact_mq
1,xa.s12.00.mhz.1970-03-25HR00_evid00003,1970-03-25T03:32:00.000000,12720.0,evid00003,impact_mq
2,xa.s12.00.mhz.1970-03-26HR00_evid00004,1970-03-26T20:17:00.000000,73020.0,evid00004,impact_mq
3,xa.s12.00.mhz.1970-04-25HR00_evid00006,1970-04-25T01:14:00.000000,4440.0,evid00006,impact_mq
4,xa.s12.00.mhz.1970-04-26HR00_evid00007,1970-04-26T14:29:00.000000,52140.0,evid00007,deep_mq
...,...,...,...,...,...
71,xa.s12.00.mhz.1974-10-14HR00_evid00156,1974-10-14T17:43:00.000000,63780.0,evid00156,impact_mq
72,xa.s12.00.mhz.1975-04-12HR00_evid00191,1975-04-12T18:15:00.000000,65700.0,evid00191,impact_mq
73,xa.s12.00.mhz.1975-05-04HR00_evid00192,1975-05-04T10:05:00.000000,36300.0,evid00192,impact_mq
74,xa.s12.00.mhz.1975-06-24HR00_evid00196,1975-06-24T16:03:00.000000,57780.0,evid00196,impact_mq
75,xa.s12.00.mhz.1975-06-26HR00_evid00198,1975-06-26T03:24:00.000000,12240.0,evid00198,impact_mq

In [4]:
json_file: pd.DataFrame = pd.DataFrame(columns=["velocity", "time_rel"])

In [5]:
json_file

Empty DataFrame
Columns: [velocity, time_rel]
Index: []

In [6]:
catalog["time_rel(sec)"][0]

73500.0

In [7]:
for i in range(len(catalog)):
    json_file.at[i, "time_rel"] = catalog["time_rel(sec)"][i]
    json_file.to_json(path_or_buf=f"seismic_detection/data/train/{catalog['evid'][i]}.json", orient="records", indent=4)
    json_file: pd.DataFrame = pd.DataFrame(columns=["velocity", "time_rel"])

In [8]:
training_dir = "../nasa_space_apps_2024_seismic_detection_data/data/lunar/training/data/S12_GradeA"

In [9]:
len(json_file)

0

In [13]:
for i in range(len(json_file)):
    try:
        FILE: pd.DataFrame = pd.read_csv(
            filepath_or_buffer=training_dir + "/" + json_file["filename"][i] + ".csv"
        )
        json_file.loc[i, "velocity"] = FILE["velocity(m/s)"].to_numpy()
    except Exception:
        print(json_file["filename"][i])

evid00120.json
evid00150.json
evid00153.json
evid00071.json
evid00024.json
evid00019.json
evid00140.json
evid00049.json
evid00093.json
evid00021.json
evid00023.json
evid00010.json
evid00138.json
evid00144.json
evid00114.json
evid00008.json
evid00136.json
evid00127.json
evid00191.json
evid00022.json
evid00002.json
evid00004.json
evid00137.json
evid00121.json
evid00094.json
evid00145.json
evid00104.json
evid00003.json
evid00152.json
evid00198.json
evid00042.json
evid00141.json
evid00151.json
evid00083.json
evid00088.json
evid00091.json
evid00067.json
evid00043.json
evid00055.json
evid00060.json
evid00031.json
evid00034.json
evid00107.json
evid00013.json
evid00035.json
evid00045.json
evid00068.json
evid00046.json
evid00070.json
evid00113.json
evid00011.json
evid00009.json
evid00117.json
evid00084.json
evid00156.json
evid00052.json
evid00108.json
evid00112.json
evid00015.json
evid00196.json
evid00014.json
evid00026.json
evid00006.json
evid00044.json
evid00017.json
evid00007.json
evid00192.json
evid00032.json
evid00149.json
evid00097.json
evid00109.json
evid00030.json
evid00033.json
evid00028.json
evid00029.json
evid00142.json

In [11]:
json_file.to_json(path_or_buf="train.json", orient="records", indent=4)